.Lottery{
    border:1px solid grey;
    width: 900px;
    border-radius: 10px;
    padding:1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Lottery-title{
    font-size: 2rem;
}

.Lottery-container{
    padding: 1em;
}

.Lottery-generate
{
    background-color: blue;
    color: white;
}